
/* HTML: <div class="loader"></div> */
.loader {
  --c:#000;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color: #0000;
  overflow: hidden;
  text-shadow: 0 0 var(--c),11ch 0 var(--c);
  animation: l6 2s infinite linear;
}
.loader:before {
  content:"Loading..."
}
@keyframes l6 {to{text-shadow:-11ch 0 var(--c),0ch 0 var(--c)}}
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


#map {
  position: relative;
  height: 80vh;
  width: 100%;
}
.progress-container {
  width: 50%;
  background-color: #c0bcbc;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 360px;
  left: 340px;
  z-index: 1000;
}

.progress-bar {
  height: 20px;
  background-color: #4cf852; 
  width: 0%; 
  border-radius: 5px;
  transition: width 0.5s ease-in-out; 
}

