
.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content:"Loading..."
}
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes l1 {to{opacity: 0}}

#map {
  position: relative;
  height: 80vh;
  width: 100%;
}
.progress-container {
  width: 50%;
  background-color: #c0bcbc;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  top: 360px;
  left: 340px;
  z-index: 1000;
}

.progress-bar {
  height: 20px; /* Adjust height as needed */
  background-color: #4cf852; /* Green color for the progress bar */
  width: 0%; /* Initial width, will be updated by JavaScript */
  border-radius: 5px;
  transition: width 0.5s ease-in-out; /* Smooth transition for width changes */
}